<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.anwei.rms.repository.RolePermissionMapper" >
  <resultMap id="BaseResultMap" type="com.anwei.rms.pojo.entity.RolePermission" >
    <id column="UUID" property="uuid" jdbcType="CHAR" />
    <result column="ROLE_UUID" property="roleUuid" jdbcType="CHAR" />
    <result column="PERMISSION_UUID" property="permissionUuid" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    UUID, ROLE_UUID, PERMISSION_UUID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_role_permission
    where UUID = #{uuid,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_role_permission
    where UUID = #{uuid,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.anwei.rms.pojo.entity.RolePermission" >
    insert into t_role_permission (UUID, ROLE_UUID, PERMISSION_UUID
      )
    values (#{uuid,jdbcType=CHAR}, #{roleUuid,jdbcType=CHAR}, #{permissionUuid,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.anwei.rms.pojo.entity.RolePermission" >
    insert into t_role_permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        UUID,
      </if>
      <if test="roleUuid != null" >
        ROLE_UUID,
      </if>
      <if test="permissionUuid != null" >
        PERMISSION_UUID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=CHAR},
      </if>
      <if test="roleUuid != null" >
        #{roleUuid,jdbcType=CHAR},
      </if>
      <if test="permissionUuid != null" >
        #{permissionUuid,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.anwei.rms.pojo.entity.RolePermission" >
    update t_role_permission
    <set >
      <if test="roleUuid != null" >
        ROLE_UUID = #{roleUuid,jdbcType=CHAR},
      </if>
      <if test="permissionUuid != null" >
        PERMISSION_UUID = #{permissionUuid,jdbcType=CHAR},
      </if>
    </set>
    where UUID = #{uuid,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.anwei.rms.pojo.entity.RolePermission" >
    update t_role_permission
    set ROLE_UUID = #{roleUuid,jdbcType=CHAR},
      PERMISSION_UUID = #{permissionUuid,jdbcType=CHAR}
    where UUID = #{uuid,jdbcType=CHAR}
  </update>
</mapper>